* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.login_container {
    width: 700px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.logo img {
    width: 150px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 20px;
}

.form-grid {
    width: 100%;
}

.form-grid input,
.form-grid select {
    width: 48%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn-daftar {
    display: inline-block;
    width: 75%;
    padding: 10px;
    background-color: #d1d419;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

.btn-daftar:hover {
    background-color: #707c01;
}

button {
    width: 20%;
    padding: 10px;
    background-color: #999;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

.registrasi {
    margin-top: 15px;
    font-size: 14px;
}

.registrasi a {
    text-decoration: none;
    color: blue;
}