* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.login_container {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 150px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    text-align: left;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}

form button {
    width: 100%;
    padding: 12px;
    background: #d1d419;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

form button:hover {
    background: #707c01;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.register-text a {
    color: #2d89ef;
    font-weight: bold;
}